.dataRow{
    padding: 30px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
}
.removeIcon{
    color:#555;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;
}
.row__img{
   width: 90px;
}
.row__title{
    text-decoration: none;
    color:#000;
    font-family: "Cormorant Garamond",sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-left: 30px;
    text-transform: capitalize;
    cursor: pointer;
}
.row__title:hover{
    color:#d14031;
    transition: all 0.5s;
}
.row_price{
    color:#555;
    margin:auto;
}
@media screen and (max-width: 620px) {
    .dataRow{
        font-size: 14px;
    }
    .row__img{
        display: none;
    }
    .row__title{
        margin-left: 0px;
        font-size: 16px;
        margin-right: 20px;
    }
    .row_price{
        font-size: 12px;
    }
}