.mapContainer{
    height: 80vh;
}
.contact__header{
    font-family: "Cormorant Garamond",sans-serif;
    font-weight: 500;
    letter-spacing: .01em;
    font-size: 25px;
    margin-bottom: 40px;
}
.contact p{
    font-family: "Cormorant Garamond",sans-serif;
    color:#555;
    font-size: 19px;
    cursor: pointer;
}
.contact p:hover{
    color: #d14031;
}
.contact i{
    font-size: 14px;
    margin-right: 15px;
}
.contact i:hover{
    color: #d14031;
}
.contact__imgContainer img{
    cursor: pointer;
}
.contact__imgContainer img:hover{
    position: relative;
    /*top:-20px;*/
    transform: translateY(-10px);
    transition: all 0.8s;
}