.myNav {
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}
.logo{
    width:50% !important;
    margin-left: 10px;
}
.navLink{
    color:#000 !important;
    margin: 0px 10px;
    font-size: 20px;
    text-decoration: none;
}
.navLink:hover{
    color: #d14031 !important;
    transition: 0.2s;
}
.cartIcon{
    position: relative;
}

.cart, .icon{
    cursor: pointer;
    color: #282828;
}
.cart:hover, .icon:hover{
    color:#d14031;
}

.itemsCount{
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d14031;
    color:white;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left:15px;
    font-size: 9px;
}
.price{
    font-size: 15px;
}
.dropIcon{
    color:#282828 !important;
    border: #555555 !important;
}
