.myNav {
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}
.logo{
    width:50% !important;
    margin-left: 10px;
}
.navLink{
    color:#000 !important;
    margin: 0px 10px;
    font-size: 20px;
    text-decoration: none;
}
.navLink:hover{
    color: #d14031 !important;
    transition: 0.2s;
}
.cartIcon{
    position: relative;
}

.cart, .icon{
    cursor: pointer;
    color: #282828;
}
.cart:hover, .icon:hover{
    color:#d14031;
}

.itemsCount{
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d14031;
    color:white;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left:15px;
    font-size: 9px;
}
.price{
    font-size: 15px;
}
.dropIcon{
    color:#282828 !important;
    border: #555555 !important;
}

.container{
    background-color: #282828;
    color:#FFF;
    padding: 17px 40px 28px;
    font-size: 15px;
    position: absolute;
    top:65px;
    right:10px;
    z-index: 5;
}
.search{
    border-bottom: 1px solid #999999;
    width:250px;
}
.search input{
    letter-spacing: 2.5px;
    background-color: #282828;
    outline: none;
    border: none;
    padding: 6px 0px 6px 6px;
}
.go{
    letter-spacing: 5px;
    color: #fff ;
    text-decoration: none ;
}
.go:hover{
    color: #fff ;
}
.search input:focus{
    color:#fff;
}
.search input:focus::placeholder{
    color:#fff;
}
@media screen and (max-width: 425px) {
    .container{
        top:50px;
        right:-20px;
    }
}