.buttonContainer{
 border: 1px solid #e1e1e1;
 color:#999;
 font-size: 14px;
 padding: 10px 12px;
 display: flex;
justify-content: space-between;
 align-items: center;
}
.buttonIcon{
 padding:0px 5px;
 cursor: pointer;
}
.quantity{
 padding: 0px 10px;
 color:#555;
 font-size: 19px;
 font-family: "Cormorant Garamond",sans-serif;
 letter-spacing: 4px;
}
@media screen and (max-width: 420px) {
 .buttonContainer{
  padding: 0px 12px;
  border: none;
  margin: 0px 10px;

 }
   .buttonIcon{
    padding:0px 2px;
   }
 .quantity{
  padding:0px 2px;
  font-size: 16px;
 }
}