.formContainer input{
    margin-bottom: 25px;
    padding: 8px;
    font-family: "Cormorant Garamond",sans-serif;
    font-weight: 300;
    border: 1px solid #e1e1e1;

}
.form__Message{
    margin:25px 0px;
    padding: 12px 19px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: .07em;
    font-family: "Cormorant Garamond",sans-serif;
    color: #999;
    border: 1px solid #e1e1e1;
}
.form__Message:focus{
    outline: 1px solid #e1e1e1;
    font-size: 13px;
    color: #000;
    font-family: "Josefin Sans",sans-serif;
}
